/* start reset - https://www.digitalocean.com/community/tutorials/css-minimal-css-reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
margin: 0;
padding: 0;
font-weight: normal;
}

img {
max-width: 100%;
height: auto;
}

/* reset end */

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

#card {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: #EEE;
    border-radius: 0.25rem;
    box-shadow: 0.1rem 0.1rem 0.25rem rgb(35, 35, 201);
}

#title {
    color: #1a1a33;
    font-weight: bold;
}

#graph {
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

#tooltip {
    position: absolute;
    opacity: 0;
    font-size: 0.75rem;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5px;
    width: fit-content;
    max-width: 200px;
}

#tooltip.visible {
    opacity: 0.9;
}

.tile-label {
    font-size: 10px;
    fill:rgb(42, 42, 42);
    cursor: default;
}

.legend-label {
    font-size: 15px;
    fill:rgb(71, 71, 71);
    line-height: 1em;
}

.source {
    align-self: flex-end;
}

.source > a {
    text-decoration: none;
}

